@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PTSans-Bold.woff2"), url("../fonts/PTSans-Bold.woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PTSans-Regular.woff2"), url("../fonts/PTSans-Regular.woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "PT Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
}

ul,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

h2,
h3 {
  text-transform: uppercase;
  color: #227aba;
}

a {
  text-decoration: none;
  color: black;
}

li {
  margin: 0;
  font-size: 20px;
  color: #262626;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  display: grid;
  grid-template: minmax(50px, auto) 1fr minmax(70px, auto)/1fr;
  grid-template-areas: "header" "main" "footer";
}

.header {
  grid-area: header;
  display: grid;
  grid-template: 1fr / 1fr 2fr;
  font-weight: 700;
}

.logo {
  background-image: linear-gradient(to right, #3fb8ff, #1d7abd);
}

.nav__list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  height: 70px;
  justify-content: space-evenly;
}

.nav__item {
  color: #aeaeae;
}

.nav__item:hover {
  color: #2a7ab5;
}

.nav__item:active {
  color: #1e4e70;
}

.main {
  grid-area: main;
}

.banner {
  z-index: 4;
  max-width: 1200px;
  height: 500px;
  background-image: url(../img/banner/back-banner.png), url(../img/banner/banner-1200x500.jpg);
  background-position: bottom center, top center;
  background-repeat: no-repeat, no-repeat;
}

.about-company {
  position: relative;
  height: 400px;
}

.about-company__text {
  padding: 10px;
  position: absolute;
  top: 35px;
  left: 170px;
  max-width: 400px;
}

.about-company__text p {
  font-size: 20px;
  margin-bottom: 10px;
}

.about-company__text li {
  list-style-image: url(../img/banner/check.png);
}

.about-company__image {
  position: absolute;
  right: 0;
  top: -70px;
  max-width: 600px;
}

.our-transport-wrapper {
  position: relative;
}

.our-transport-wrapper span {
  max-width: 1200px;
  height: 200px;
  position: absolute;
  top: -90px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../img/banner/back-banner2.png);
  background-position: top center;
  background-repeat: no-repeat;
}

.our-transport__content {
  background-color: #e8e8e8;
  margin-top: 30px;
}

.our-transport__content h2 {
  text-align: center;
}

.cards {
  margin-top: 90px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 80px 10px;
}

.card {
  position: relative;
  width: 350px;
  height: 210px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 35px 80 px 0, 0, 0, 0.15;
  transition: 0.5s;
}

.card:hover {
  height: 450px;
}

.card:hover .imgBx {
  width: 250px;
  height: 250px;
}

.imgBx {
  position: absolute;
  left: 50%;
  top: -60px;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  transition: 0.5s;
}

.imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.card:hover .card__content .card__content__details {
  transform: translateY(0px);
}

.card__content__details {
  padding: 40px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(150px);
}

.card__content__details h4 {
  font-size: 1.25em;
  font-weight: 700;
  color: #555;
  line-height: 1.2em;
  margin-top: 5px;
}

.card__content__details h4 span {
  font-style: 0.75em;
  font-weight: 400;
  opacity: 0.5;
}

.card__content__data {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.card__content__data h5 {
  font-size: 1em;
  color: #555;
  line-height: 1.2em;
  font-weight: 700;
}

.card__content__data h5 span {
  font-size: 0.85em;
  font-weight: 400;
  opacity: 0.5;
}

.actionBtn button {
  text-transform: uppercase;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-style: 1em;
  font-weight: 700;
  background-image: linear-gradient(to right, #3fb8ff, #1d7abd);
  color: white;
  cursor: pointer;
}

.actionBtn button:hover {
  background-image: linear-gradient(to left, #3fb8ff, #1d7abd);
}

.contacts {
  padding: 30px;
  background-color: #e8e8e8;
}

.contacts h2 {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */