@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PTSans-Bold.woff2"), url("../fonts/PTSans-Bold.woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PTSans-Regular.woff2"), url("../fonts/PTSans-Regular.woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "PT Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
}

ul,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  color: #227aba;
}

a {
  text-decoration: none;
  color: black;
}

li {
  margin: 0;
  font-size: 20px;
  color: #262626;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  display: grid;
  grid-template: minmax(50px, auto) 1fr minmax(70px, auto)/1fr;
  grid-template-areas: "header" "main" "footer";
}

.contact-form {
  margin: 0 10px;
}

.contact-form h4 {
  font-size: 1.25em;
  font-weight: 700;
  color: #555;
  line-height: 1.2em;
  margin-top: 5px;
  text-align: center;
  margin-bottom: 5px;
}

form#contact {
  background-color: white;
  border-radius: 30px;
  padding: 10px;
  box-shadow: 0 0 1px 1px #b3b3b3;
  margin: 0 auto;
  max-width: 400px;
}

#contact label {
  font-size: 14px;
}

#contact input:required:valid {
  box-shadow: 0 0 3px white;
  border-color: #74b4d7 !important;
  background: white url(../img/valid.png) no-repeat 98% center;
}

#contact textarea:required:valid {
  box-shadow: 0 0 3px white;
  border-color: #74b4d7 !important;
}

#contact input:focus:invalid {
  box-shadow: 0 0 3px #4487b2;
  border-color: #186b9f !important;
  background: white url(../img/invalid.png) no-repeat 98% center;
}

#contact textarea:focus:invalid {
  box-shadow: 0 0 3px #0a4062;
  border-color: #072d45 !important;
}

.err {
  border: 1px solid #072d45;
  padding: 10px;
  background: #74b4d7;
  text-align: left;
  border-radius: 3px;
}

.ok {
  border: 1px #072d45 solid;
  margin: auto 0;
  padding: 10px;
  background: #f5f9fd;
  text-align: center;
  border-radius: 3px;
}

#email,
#url {
  width: 60%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
}

@media (max-width: 500px) {
  #email,
  #url {
    width: 95%;
  }
}

#comment {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
}

#submit {
  text-transform: uppercase;
  font-weight: 700;
  background: #74b4d7;
  font-size: 15px;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background: linear-gradient(to right, rgba(66, 186, 252, 0.8) 0%, #217ebc 25%, rgba(32, 124, 186, 0.8) 75%, rgba(65, 185, 251, 0.8) 100%);
  background-repeat: no-repeat;
  background-size: 300% 300%;
  transition: 0.5s;
  border-radius: 10px;
}

#submit:hover {
  background-position: 100% 100%;
}

#submit:active {
  background-position: 50% 50%;
}

input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
  border: none;
  outline: none;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
  border: none;
  outline: none;
}

input,
textarea,
input:active,
textarea:active,
:focus {
  outline: none;
}

.notification {
  font-size: 12px;
}

.g-recaptcha {
  margin-left: 20px;
}

.toggle {
  border-radius: 5px;
  margin-top: 3px;
  position: relative;
  width: 60px;
  height: 60px;
  background: #1d7abd;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

@media (min-width: 601px) {
  .toggle {
    display: none;
  }
}

.toggle:before {
  content: " ";
  position: absolute;
  width: 28px;
  height: 2px;
  background: white;
  transition: 0.2s;
  transform: translateY(-10px);
  box-shadow: 0 10px 0 white;
}

.toggle:after {
  content: " ";
  position: absolute;
  width: 28px;
  height: 2px;
  background: white;
  transition: 0.2s;
  transform: translateY(10px);
}

.toggle.active {
  background: #3db6fd;
}

.toggle.active::before {
  transform: translateY(0px) rotate(45deg);
  box-shadow: 0 0 0 white;
}

.toggle.active::after {
  transform: translateY(0px) rotate(-45deg);
}

.header {
  grid-area: header;
  display: grid;
  grid-template: 1fr / 1fr 2fr;
  font-weight: 700;
}

@media (max-width: 600px) {
  .header {
    grid-template: 1fr / 1fr 1fr 70px;
  }
}

.logo {
  background-image: linear-gradient(to right, #3fb8ff, #1d7abd);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__list {
  z-index: 2;
  position: relative;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  align-items: center;
  height: 70px;
  justify-content: space-evenly;
}

@media (max-width: 600px) {
  .nav__list {
    display: none;
    gap: 0;
    opacity: 0;
    transform: translateY(-10px);
    animation-name: showBurger;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }
}

@keyframes showBurger {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .nav__list.active {
    border-radius: 5px;
    width: 200px;
    height: 180px;
    display: flex;
    justify-content: center;
    background-color: #3fb8ff;
    position: absolute;
    top: 65px;
    right: 10px;
  }
  .nav__list.active a {
    list-style: none;
    text-align: center;
  }
}

@media (max-width: 600px) and (max-width: 600px) {
  .nav__list.active a {
    line-height: 60px;
    padding: 0;
    height: 60px;
    box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.4), inset 0px 2px 0px rgba(255, 255, 255, 0.2);
    width: 100%;
  }
  .nav__list.active a:first-child {
    box-shadow: none;
    box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.4);
  }
  .nav__list.active a:last-child {
    box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.2);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    background-repeat: no-repeat;
    background-size: 100% 7px;
    background-position: bottom;
  }
  .nav__list.active a:hover {
    background-color: #1d7abd;
  }
  .nav__list.active a:active {
    background-color: #185c8d;
  }
}

.nav__item {
  color: #262626;
}

@media (min-width: 601px) {
  .nav__item {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #2a7ab5;
    color: #2a7ab5;
  }
  .nav__item::after {
    content: " ";
    position: absolute;
    left: 6px;
    top: -2px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background: #fff;
    transition: 0.3s ease-in-out;
    transform: scaleX(1);
  }
  .nav__item:hover:after {
    transform: scaleX(0);
  }
  .nav__item::before {
    content: " ";
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background: #fff;
    transition: 0.5s ease-in-out;
    transform: scaleY(1);
    transition-delay: 0.3s;
  }
  .nav__item:hover::before {
    transform: scaleY(0);
  }
  .nav__item span {
    position: relative;
    z-index: 3;
  }
}

@media (max-width: 600px) {
  .nav__item {
    color: white;
  }
}

.nav__item:hover {
  color: #2a7ab5;
}

@media (max-width: 600px) {
  .nav__item:hover {
    color: white;
  }
}

.nav__item:active {
  color: #1e4e70;
}

@media (max-width: 600px) {
  .nav__item:active {
    color: white;
  }
}

.main {
  grid-area: main;
}

.banner {
  position: relative;
  max-width: 1200px;
  height: 500px;
  background-image: url(../img/banner/back-banner.png), url(../img/banner/banner-1200x500.jpg);
  background-position: bottom center, top center;
  background-repeat: no-repeat, no-repeat;
}

@media (max-width: 600px) {
  .banner {
    height: 300px;
    background-image: url(../img/banner/back-banner.png), url(../img/banner/banner-600x300.jpg);
    background-position: bottom center, top center;
    background-repeat: no-repeat, no-repeat;
  }
}

.banner__contacts {
  color: white;
  text-shadow: 1px 1px 1px #000;
  position: absolute;
  right: 10px;
  top: 10px;
}

@media (max-width: 600px) {
  .banner__contacts a img {
    width: 180px;
  }
}

.about-company {
  position: relative;
  height: 400px;
}

@media (max-width: 1030px) {
  .about-company {
    height: 320px;
  }
}

@media (max-width: 840px) {
  .about-company {
    height: 270px;
  }
}

@media (max-width: 408px) {
  .about-company {
    height: 300px;
  }
}

.about-company__text {
  padding: 30px 0px 0px 0px;
  position: absolute;
  top: 25px;
  left: 170px;
  max-width: 350px;
}

@media (max-width: 1030px) {
  .about-company__text {
    padding: 0px 0px 0px 0px;
    left: 100px;
  }
}

@media (max-width: 840px) {
  .about-company__text {
    padding: 0px 0px 0px 0px;
    left: 60px;
    top: 5px;
    max-width: 250px;
  }
}

@media (max-width: 600px) {
  .about-company__text {
    max-width: 100%;
  }
}

.about-company__text p {
  font-size: 20px;
  margin-bottom: 10px;
}

@media (max-width: 840px) {
  .about-company__text p {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .about-company__text p {
    font-size: 16px;
    text-align: center;
    padding-right: 40px;
  }
}

@media (max-width: 600px) {
  .about-company__text ul {
    max-width: 220px;
    margin: 0 auto;
  }
}

.about-company__text li {
  list-style-image: url(../img/banner/check.png);
}

@media (max-width: 840px) {
  .about-company__text li {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .about-company__text li {
    font-size: 16px;
  }
}

.about-company__image {
  position: absolute;
  right: 0;
  top: -70px;
  max-width: 600px;
}

@media (max-width: 840px) {
  .about-company__image {
    top: -50px;
  }
}

@media (max-width: 600px) {
  .about-company__image {
    display: none;
  }
}

@media (max-width: 1030px) {
  .about-company__image img {
    max-width: 400px;
  }
}

@media (max-width: 840px) {
  .about-company__image img {
    max-width: 300px;
  }
}

.our-transport-wrapper {
  position: relative;
}

.our-transport-wrapper::before {
  content: ' ';
  max-width: 1200px;
  height: 200px;
  position: absolute;
  top: -90px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../img/banner/back-banner2.png);
  background-position: top center;
  background-repeat: no-repeat;
}

.our-transport-wrapper-other {
  position: relative;
}

.our-transport-wrapper-other::before {
  content: ' ';
  max-width: 1200px;
  height: 200px;
  position: absolute;
  top: -90px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../img/banner/back-banner-other.png);
  background-position: top center;
  background-repeat: no-repeat;
}

.our-transport__content {
  background-color: #e8e8e8;
  margin-top: 30px;
  background-image: url(../img/pattern.png);
  background-position: bottom center;
  background-repeat: repeat;
}

.our-transport__content h2 {
  text-align: center;
}

.our-transport__content--position {
  padding-top: 50px;
}

.cards {
  margin-top: 90px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 80px 10px;
  padding-bottom: 30px;
}

.card {
  position: relative;
  width: 300px;
  height: 210px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 35px 80 px 0, 0, 0, 0.15;
  transition: 0.5s;
  margin: 10px;
}

.card:hover {
  height: 450px;
}

.card:hover .imgBx {
  width: 250px;
  height: 250px;
}

.imgBx {
  position: absolute;
  left: 50%;
  top: -60px;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  transition: 0.5s;
}

.imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.card:hover .card__content .card__content__details {
  transform: translateY(0px);
}

.card__content__details {
  padding: 10px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(150px);
}

.card__content__details h4 {
  font-size: 1.2em;
  font-weight: 700;
  color: #555;
  line-height: 1.2em;
}

.card__content__details h4 span {
  font-style: 0.75em;
  font-weight: 400;
  opacity: 0.5;
}

.card__content__data {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card__content__data h5 {
  font-size: 1em;
  color: #555;
  line-height: 1.2em;
  font-weight: 700;
}

.card__content__data h5 span {
  font-size: 0.85em;
  font-weight: 400;
  opacity: 0.5;
}

.actionBtn {
  padding-bottom: 10px;
}

.actionBtn a {
  text-transform: uppercase;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-style: 1em;
  font-weight: 700;
  color: white;
  cursor: pointer;
  background: linear-gradient(to right, rgba(66, 186, 252, 0.8) 0%, #217ebc 25%, rgba(32, 124, 186, 0.8) 75%, rgba(65, 185, 251, 0.8) 100%);
  background-repeat: no-repeat;
  background-size: 400% 400%;
  transition: 0.5s;
}

.actionBtn a:hover {
  background-position: 100% 100%;
}

.actionBtn a:active {
  background-position: 50% 50%;
}

.contacts-wrapper {
  background-image: url(../img/pattern.png);
  background-position: bottom center;
  background-repeat: repeat;
  background-color: #e8e8e8;
}

.contacts-wrapper h3 {
  text-align: center;
  padding-top: 20px;
}

.contacts-wrapper::after {
  content: ' ';
  display: block;
  width: 100%;
  height: 125px;
  background-image: url(../img/banner/back-banner2.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  transform: scale(1, -1);
  background-color: #fff;
}

.contacts-wrapper h2 {
  text-align: center;
  padding-bottom: 20px;
}

.contacts-wrapper p {
  margin: 20px;
}

.contacts {
  padding-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  background-position: bottom center;
  background-repeat: repeat;
  gap: 10px;
}

.contacts__items {
  display: flex;
  flex-direction: column;
}

.contacts__item {
  margin-left: auto;
  width: 250px;
  display: flex;
  gap: 10px;
  background-color: white;
  border-radius: 20px;
  height: 30px;
  position: relative;
  align-items: center;
  padding-right: 10px;
}

.contacts__item a:hover {
  color: #2a7ab5;
}

.contacts__item a:active {
  color: #1e4e70;
}

.contacts__item img {
  position: absolute;
  left: 10px;
}

.contacts__item::before {
  content: " ";
  width: 50px;
  height: 30px;
  background-image: linear-gradient(to left, #3fb8ff, #1d7abd);
  border-radius: 20px;
}

.contacts__item a {
  font-size: 1.25em;
  font-weight: 700;
  color: #555;
  line-height: 1.2em;
}

.content__list {
  padding: 30px;
}

.content__list li {
  font-size: 16px;
  list-style: circle;
}

.catalog-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-wrapper__catalog {
  overflow: hidden;
}

.bus {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: stretch;
  flex-wrap: wrap;
  max-width: 350px;
  margin: 10px;
}

.bus span {
  z-index: -1;
  position: absolute;
  left: 50%;
  right: 0;
  top: 170px;
  height: 180px;
  display: block;
  border-radius: 50%;
  transform-origin: 60px -40px;
  transform: rotate(calc(110deg*var(--i)));
  filter: blur(70px);
}

.bus span:nth-child(1) {
  background: #42bafc;
}

.bus span:nth-child(2) {
  background: #003ce0;
}

.glass {
  position: relative;
  max-width: 550px;
  min-height: 300px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  border: 1px solid #fff;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}

.glass::before {
  content: " ";
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.25);
  pointer-events: none;
  transform: skewX(345deg);
}

.glass .bus__content {
  padding: 20px;
  width: 100%;
  background: rgba(255, 255, 255, 0.25);
  z-index: 1;
}

.glass .bus__content h3 {
  font-weight: 400;
  text-align: start;
  padding: 0;
  margin-bottom: 10px;
}

.glass .bus__content p {
  padding: 2px 0;
  color: #555;
  line-height: 1.2em;
  opacity: 0.9;
}

.glass .bus__content p {
  margin: 0;
}

.bus__gallery {
  z-index: 1;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
}

.bus__gallery a img {
  border-radius: 10%;
}

footer {
  background-color: #207dc0;
  margin-top: 50px;
}

.footer__wrapper {
  position: relative;
}

.footer__wrapper::before {
  content: " ";
  background-image: url(../img/banner/back-footer.png);
  background-position: top center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 125px;
  top: -115px;
}

.footer__content {
  display: grid;
  grid-template: 1fr / 80px 1fr 80px;
  gap: 20px;
  justify-items: center;
  padding: 10px 30px 10px 30px;
}

@media (max-width: 600px) {
  .footer__content {
    grid-template: 70px 1fr / 1fr;
    padding: 10px;
  }
}

.personal-data p {
  text-align: center;
  line-height: 12px;
}

.personal-data p a {
  font-size: 12px;
  color: white;
  text-decoration: underline;
}

.personal-data p a:hover {
  text-decoration: none;
  color: #a5a5a5;
}
/*# sourceMappingURL=style.css.map */