// Global


@font-face {
    font-family: 'PT Sans';
    src: url("../fonts/PTSans-Bold.woff2"), url("../fonts/PTSans-Bold.woff");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url("../fonts/PTSans-Regular.woff2"), url("../fonts/PTSans-Regular.woff");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html,
body {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "PT Sans", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
}

ul,
p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

h2,
h3 {
    text-transform: uppercase;
    color: #227aba;

}

a {
    text-decoration: none;
    color: black;
}

li {
    margin: 0;
    font-size: 20px;
    color: #262626;
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.wrapper {

    max-width: 1200px;
    margin: 0 auto;
    min-height: 100%;
    display: grid;
    grid-template: minmax(50px, auto) 1fr minmax(70px, auto) / 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

// Форма обратной связи

@import "_feedback";




// BURGER MENU


.toggle {
    border-radius: 5px;
    margin-top: 3px;


    @media (min-width: 601px) {
        display: none;
    }

    position: relative;
    width: 60px;
    height: 60px;
    background: #1d7abd;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

    &:before {
        content: " ";
        position: absolute;
        width: 28px;
        height: 2px;
        background: white;
        transition: 0.2s;
        transform: translateY(-10px);
        box-shadow: 0 10px 0 white;
    }

    &:after {
        content: " ";
        position: absolute;
        width: 28px;
        height: 2px;
        background: white;
        transition: 0.2s;
        transform: translateY(10px);
    }
}

.toggle.active {
    background: #3db6fd;

    &::before {
        transform: translateY(0px) rotate(45deg);
        box-shadow: 0 0 0 white;
    }

    &::after {
        transform: translateY(0px) rotate(-45deg);
    }

}


// HEADER
.header {

    grid-area: header;
    display: grid;
    grid-template: 1fr / 1fr 2fr;
    font-weight: 700;

    @media (max-width: 600px) {
        grid-template: 1fr / 1fr 1fr 70px;
    }

}

.logo {

    background-image: linear-gradient(to right, #3fb8ff, #1d7abd);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__list {

    position: relative;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    height: 70px;
    justify-content: space-evenly;

    @media (max-width:600px) {
        display: none;
        gap: 0;
    }
}

.nav__list.active {

    @media (max-width:600px) {
        border-radius: 5px;
        width: 200px;
        height: 180px;
        display: flex;
        justify-content: center;
        background-color: #3fb8ff;
        position: absolute;
        top: 65px;
        right: 10px;


        a {
            list-style: none;
            text-align: center;

            @media (max-width:600px) {
                line-height: 60px;
                padding: 0;
                height: 60px;
                box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.4), inset 0px 2px 0px rgba(255, 255, 255, 0.2);
                width: 100%;

                &:first-child {
                    box-shadow: none;
                    box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.4)
                }

                &:last-child {
                    box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.2);
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
                    background-repeat: no-repeat;
                    background-size: 100% 7px;
                    background-position: bottom;
                }

                &:hover {
                    background-color: #74b4d7;
                }

                &:active {
                    background-color: #4487b2;
                }
            }
        }
    }
}

.nav__item {

    color: #262626;

    @media (max-width:600px) {
        color: white;
    }

    &:hover {
        color: #2a7ab5;
    }

    &:active {
        color: #1e4e70;
    }
}


// BANNER

.main {
    grid-area: main;
}

.banner {
    z-index: 4;
    max-width: 1200px;
    height: 500px;
    background-image: url(../img/banner/back-banner.png), url(../img/banner/banner-1200x500.jpg);
    background-position: bottom center, top center;
    background-repeat: no-repeat, no-repeat;
}

// О Компании

.about-company {
    position: relative;
    height: 400px;

}

.about-company__text {
    padding: 10px;
    position: absolute;
    top: 35px;
    left: 170px;
    max-width: 400px;

    p {
        font-size: 20px;
        margin-bottom: 10px;
    }

    li {
        list-style-image: url(../img/banner/check.png)
    }
}

.about-company__image {

    position: absolute;
    right: 0;
    top: -70px;
    max-width: 600px;

}

.our-transport-wrapper {

    position: relative;

    &::before {
        content: ' ';
        max-width: 1200px;
        height: 200px;
        position: absolute;
        top: -90px;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url(../img/banner/back-banner2.png);
        background-position: top center;
        background-repeat: no-repeat;

    }
}

.our-transport__content {
    background-color: #e8e8e8;
    margin-top: 30px;
    background-image: url(../img/pattern.png);
    background-position: bottom center;
    background-repeat: repeat;

    h2 {
        text-align: center;
    }
}

// Карточка товара

.cards {
    margin-top: 90px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 80px 10px;
    padding-bottom: 30px;
}

.card {

    position: relative;
    width: 350px;
    height: 210px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80 px (0, 0, 0, 0.15);
    transition: 0.5s;

    &:hover {
        height: 450px;

        .imgBx {
            width: 250px;
            height: 250px;
        }
    }
}

.imgBx {
    position: absolute;
    left: 50%;
    top: -60px;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    transition: 0.5s;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.card__content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.card:hover .card__content .card__content__details {
    transform: translateY(0px);
}

.card__content__details {
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(150px);

    h4 {
        font-size: 1.25em;
        font-weight: 700;
        color: #555;
        line-height: 1.2em;
        margin-top: 5px;

        span {
            font-style: 0.75em;
            font-weight: 400;
            opacity: 0.5;
        }
    }
}

.card__content__data {
    margin: 20px 0;
    display: flex;
    justify-content: center;

    h5 {
        font-size: 1em;
        color: #555;
        line-height: 1.2em;
        font-weight: 700;

        span {
            font-size: 0.85em;
            font-weight: 400;
            opacity: 0.5;
        }
    }
}

.actionBtn {
    button {
        text-transform: uppercase;
        padding: 10px 30px;
        border-radius: 5px;
        border: none;
        outline: none;
        font-style: 1em;
        font-weight: 700;
        background-image: linear-gradient(to right, #3fb8ff, #1d7abd);
        color: white;
        cursor: pointer;

        &:hover {

            background-image: linear-gradient(to left, #3fb8ff, #1d7abd);

        }
    }
}

// Контакты


.contacts-wrapper {
    background-image: url(../img/pattern.png);
    background-position: bottom center;
    background-repeat: repeat;
    background-color: #e8e8e8;

    h3 {
        text-align: center;
        padding-top: 20px;
    }

    &::after {
        content: ' ';
        display: block;
        width: 100%;
        height: 125px;
        background-image: url(../img/banner/back-banner2.png);
        background-position: bottom center;
        background-repeat: no-repeat;
        transform: rotate(180deg);
        transform: scale(1, -1);
        background-color: #fff;
    }

    h2 {
        text-align: center;
        padding-bottom: 20px;
    }

    p {
        margin: 20px;
    }
}

.contacts {
    padding-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
    background-position: bottom center;
    background-repeat: repeat;

}

.contacts__items {
    display: flex;
    flex-direction: column;
}

.contacts__item {
    display: flex;
    gap: 10px;
    background-color: white;
    border-radius: 20px;
    height: 30px;
    position: relative;
    align-items: center;
    padding-right: 10px;


    a {
        &:hover {
            color: #2a7ab5;
        }

        &:active {
            color: #1e4e70;
        }
    }

    img {
        position: absolute;
        left: 10px;
    }

    &::before {
        content: " ";
        width: 50px;
        height: 30px;
        background-image: linear-gradient(to left, #3fb8ff, #1d7abd);
        border-radius: 20px;
    }


    a {
        font-size: 1.25em;
        font-weight: 700;
        color: #555;
        line-height: 1.2em;
    }
}


// Футер

footer {
    background-color: #207dc0;
    margin-top: 50px;
}

.footer__wrapper {
    position: relative;

    &::before {
        content: " ";
        background-image: url(../img/banner/back-footer.png);
        background-position: top center;
        background-repeat: no-repeat;
        position: absolute;
        width: 100%;
        height: 125px;
        top: -115px
    }
}

.footer__content {
    padding: 30px;
    color: white;
}